@model Web_Calendar.Models.EventModelCollection

@{
    ViewBag.Title = "Admin";
}

@if (ViewBag.Message != null)
{
    <p class="bg-danger">@ViewBag.Message</p>
}

<h2>Admin</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <table class="table" id="ticketTable">
                <caption>Ticket breakdown</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tickets</th>
                        <th>Value</th>
                        <th>Paid</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<h4>Events</h4>

<div class="row">
    <div class="col-lg-12">
        <textarea class="form-control" style="width: 100%; max-width: none; height: 800px" id="results">
        </textarea>

        <form id="adminForm" action='/Home/Admin' method='post'>
            <input type="hidden" name="jsonText" id="jsonText" value="test" />
            <input type="submit" id="submitButton" value="Submit" class="btn btn-default" style="margin-top: 10px" />
        </form>
    </div>
</div>

<h4>Tickets</h4>

<div class="row">
    <div class="col-lg-12">
        <textarea class="form-control" style="width: 100%; max-width: none; height: 600px" id="ticketJsonResults">
        </textarea>

        <form id="ticketForm" action='/Home/AdminTicket' method='post'>
            <input type="hidden" name="ticketJsonText" id="ticketJsonText" value="test" />
            <input type="submit" id="submitButton" value="Submit" class="btn btn-default" style="margin-top: 10px" />
        </form>
    </div>
</div>

<h4>Year</h4>

<div class="row">
    <div class="col-lg-12">
        <textarea class="form-control" style="width: 100%; max-width: none; height: 600px" id="yearJsonResults">
        </textarea>

        <form id="yearForm" action='/Home/AdminYear' method='post'>
            <input type="hidden" name="yearJsonText" id="yearJsonText" value="test" />
            <input type="submit" id="submitButton" value="Submit" class="btn btn-default" style="margin-top: 10px" />
        </form>
    </div>
</div>






<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        function getEvents() {
            $.getJSON('/Home/GetEvents').done(function (data) {

                var jsonPretty = JSON.stringify(data, null, 4);
                $("#results").text(jsonPretty);

            });
        }

        getEvents();

        function getTickets() {
            $.getJSON('/Home/GetEventStats').done(function (data) {

                //$('#device').val(navigator.userAgent.toLowerCase());
                //$('#ticketsAvailable').val(data.ticketsOpen);
                //$('#ticketsValue').val(data.ticketOpenValue.toFixed(2));
                $("#ticketTable tbody tr").remove();
                data.ticketUserList.forEach(function (item) {

                    $('#ticketTable').append('<tr><td>' + item.Name + '</td><td>' + item.ticketCount + '</td><td>' + item.ticketValue.toFixed(2) + '<td>' + item.amountPaid + '</td></td><td><button type="button" class="btn btn-primary btnadmin" id="' + item.Name + '" value="' + item.amountPaid+'">Edit</button></td></tr>');
                });


            }).done(function () {
                addClicks();
                });
        }

        getTickets();

        function getTicketsJson() {
            $.getJSON('/Home/GetAmmountPaid').done(function (data) {

                var jsonPretty = JSON.stringify(data, null, 4);
                $("#ticketJsonResults").text(jsonPretty);

            });
        }

        getTicketsJson();

        function getYearJson() {
            $.getJSON('/Home/GetYear').done(function (data) {

                var jsonPretty = JSON.stringify(data, null, 4);
                $("#yearJsonResults").text(jsonPretty);

            });
        }

        getYearJson();

        $('#adminForm').submit(function () {
            var jsonText = $("#results").val();
            $('#jsonText').val(jsonText);

        });


        $('#ticketForm').submit(function () {
            var jsonText = $("#ticketJsonResults").val();
            $('#ticketJsonText').val(jsonText);

        });

        $('#yearForm').submit(function () {
            var jsonText = $("#yearJsonResults").val();
            $('#yearJsonText').val(jsonText);

        });


        function addClicks() {
            $('.btnadmin').click(function () {
                
                //console.log($(this).attr("value"));

                bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                    "<input type='hidden' name='name' value='" + $(this).attr("id") + "'>" +
                    "<div class='form-group'><label>Amount Paid</label>" +
                    "<input type='text' name='amountPaid' class='form-control' value='" + $(this).attr("value")+"' /></div>" +
                    "</form>"
                    , function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Home/SubmitPaidChange',
                                type: 'POST',
                                dataType: 'json',
                                data: $("#myform").serialize(),
                                success: function (data) {

                                    getTickets();
                                }
                            });
                        }
                    });

            });
        }
    });







</script>

