@{
    ViewBag.Title = "Home Page";
}



    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12"><h1>MN United Season Tickets</h1></div>
            </div>

        </div>

    </div>





<div class="row" style="border: 1px solid #e1e1e8; border-radius: 4px; margin-bottom: 48px">
    <div class="col-lg-6">
        <form style="margin-top: 10px">
            <div class="form-group"><label>Tickets Available</label><input class="form-control" id="ticketsAvailable" disabled="disabled" /></div>
            <div class="form-group"><label>Open Ticket Value</label><input class="form-control" id="ticketsValue" disabled="disabled" /></div>
            <div class="form-group"><label>Season Ticket Price</label><input class="form-control" value="24.42" disabled="disabled" /></div>
            <div class="form-group"><label>Device</label><input class="form-control" id="device" disabled="disabled" /></div>
        </form>
    </div>
    <div class="col-lg-6">
        <table class="table" id="ticketTable">
            <caption>Ticket breakdown</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tickets</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id='calendarApril'></div>

        <div id='calendarMay'></div>

        <div id='calendarJune'></div>

        <div id='calendarJuly'></div>

        <div id='calendarAugust'></div>

        <div id='calendarSeptember'></div>
    </div>
    <div class="col-lg-2">
        <div class="card"  id="eventLegend">
            <div class="card-body">
                <h5 class="card-title">
                    Legend
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Click event to change ticket holders.</h6>
                <p class="card-text">
                    <table style="border-collapse: separate; border-spacing: 2px;">
                        <tr>
                            <td><div style="background-color: #337ab7; width: 20px; height: 20px"></div></td>
                            <td><div> = All tickets open</div></td>
                        </tr>
                        <tr>
                            <td><div style="background-color: green; width: 20px; height: 20px"></div></td>
                            <td><div> = All tickets used</div></td>
                        </tr>
                        <tr>
                            <td><div style="background-color: orange; width: 20px; height: 20px"></div></td>
                            <td><div> = One ticket used</div></td>
                        </tr>
                    </table>



                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //$.browser.device = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));

    $(window).scroll(function () {
        $("#eventLegend").stop().animate({ "marginTop": ($(window).scrollTop()) + "px", "marginLeft": ($(window).scrollLeft()) + "px" }, "slow");
    });

    $(document).ready(function () {

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $("#eventLegend").remove();
        }

        function getStats() {
            $.getJSON('/Home/GetEventStats').done(function (data) {
                console.log(data);
                $('#device').val(navigator.userAgent.toLowerCase());
                $('#ticketsAvailable').val(data.ticketsOpen);
                $('#ticketsValue').val(data.ticketOpenValue.toFixed(2));
                $("#ticketTable tbody tr").remove(); 
                data.ticketUserList.forEach(function (item) {

                    $('#ticketTable').append('<tr><td>' + item.Name + '</td><td>' + item.ticketCount + '</td><td>' + item.ticketValue + '</td></tr>');
                });


            });
        }

        getStats();

        function loadEvents() {
            $.getJSON('/Home/GetEvents').done(function (data) {

                $('#calendarApril').fullCalendar({
                    defaultDate: '2019-04-01',
                    contentHeight: "auto",
                    events: data,
                    eventClick: function (event, element) {
                        console.log(event.id + ' clicked.');
                        bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                            "<input type='hidden' name='id' value='" + event.id + "'>" +
                            "<div class='form-group'><label>Ticket 1</label>" +
                            "<input type='text' name='ticket1' class='form-control' value='" + event.ticket1 + "' /></div>" +
                            "<div class='form-group'><label>Ticket 2</label><input type='text' name='ticket2' class='form-control' value='" + event.ticket2 + "' /></div></form>"
                            , function (result) {
                                if (result) {
                                    $.ajax({
                                        url: '/Home/SubmitChange',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: $("#myform").serialize(),
                                        success: function (data) {
                                            $('#calendarApril').fullCalendar('removeEvents', event.id);
                                            $('#calendarApril').fullCalendar('renderEvent', data);
                                            getStats();
                                        }
                                    });
                                }
                            });
                    },
                    eventRender: function (event, element) {
                        var image = $('<img/>').attr("src", event.img).attr("width", 55);
                        element.find('.fc-title').append("<br/>");
                        element.find('.fc-title').append(image);
                        element.find('.fc-title').append("<br/> Ticket 1: " + event.ticket1 + "<br/> Ticket 2: " + event.ticket2);

                    },
                    showNonCurrentDates: false
                });

                $('#calendarMay').fullCalendar({
                    defaultDate: '2019-05-01',
                    events: data,
                    eventClick: function (event, element) {
                        console.log(event.id + ' clicked.');
                        bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                            "<input type='hidden' name='id' value='" + event.id + "'>" +
                            "<div class='form-group'><label>Ticket 1</label>" +
                            "<input type='text' name='ticket1' class='form-control' value='" + event.ticket1 + "' /></div>" +
                            "<div class='form-group'><label>Ticket 2</label><input type='text' name='ticket2' class='form-control' value='" + event.ticket2 + "' /></div></form>"
                            , function (result) {
                                if (result) {
                                    $.ajax({
                                        url: '/Home/SubmitChange',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: $("#myform").serialize(),
                                        success: function (data) {
                                            $('#calendarMay').fullCalendar('removeEvents', event.id);
                                            $('#calendarMay').fullCalendar('renderEvent', data);
                                        }
                                    });
                                }
                            });
                    },
                    eventRender: function (event, element) {
                        var image = $('<img/>').attr("src", event.img).attr("width", 55);
                        element.find('.fc-title').append("<br/>");
                        element.find('.fc-title').append(image);
                        element.find('.fc-title').append("<br/> Ticket 1: " + event.ticket1 + "<br/> Ticket 2: " + event.ticket2);
                    },
                    showNonCurrentDates: false
                })

                $('#calendarJune').fullCalendar({
                    defaultDate: '2019-06-01',
                    events: data,
                    eventClick: function (event, element) {
                        console.log(event.id + ' clicked.');
                        bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                            "<input type='hidden' name='id' value='" + event.id + "'>" +
                            "<div class='form-group'><label>Ticket 1</label>" +
                            "<input type='text' name='ticket1' class='form-control' value='" + event.ticket1 + "' /></div>" +
                            "<div class='form-group'><label>Ticket 2</label><input type='text' name='ticket2' class='form-control' value='" + event.ticket2 + "' /></div></form>"
                            , function (result) {
                                if (result) {
                                    $.ajax({
                                        url: '/Home/SubmitChange',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: $("#myform").serialize(),
                                        success: function (data) {
                                            $('#calendarJune').fullCalendar('removeEvents', event.id);
                                            $('#calendarJune').fullCalendar('renderEvent', data);
                                        }
                                    });
                                }
                            });
                    },
                    eventRender: function (event, element) {
                        var image = $('<img/>').attr("src", event.img).attr("width", 55);
                        element.find('.fc-title').append("<br/>");
                        element.find('.fc-title').append(image);
                        element.find('.fc-title').append("<br/> Ticket 1: " + event.ticket1 + "<br/> Ticket 2: " + event.ticket2);
                    },
                    showNonCurrentDates: false
                })
                $('#calendarJuly').fullCalendar({
                    defaultDate: '2019-07-01',
                    events: data,
                    eventClick: function (event, element) {
                        console.log(event.id + ' clicked.');
                        bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                            "<input type='hidden' name='id' value='" + event.id + "'>" +
                            "<div class='form-group'><label>Ticket 1</label>" +
                            "<input type='text' name='ticket1' class='form-control' value='" + event.ticket1 + "' /></div>" +
                            "<div class='form-group'><label>Ticket 2</label><input type='text' name='ticket2' class='form-control' value='" + event.ticket2 + "' /></div></form>"
                            , function (result) {
                                if (result) {
                                    $.ajax({
                                        url: '/Home/SubmitChange',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: $("#myform").serialize(),
                                        success: function (data) {
                                            $('#calendarJuly').fullCalendar('removeEvents', event.id);
                                            $('#calendarJuly').fullCalendar('renderEvent', data);
                                        }
                                    });
                                }
                            });
                    },
                    eventRender: function (event, element) {
                        var image = $('<img/>').attr("src", event.img).attr("width", 55);
                        element.find('.fc-title').append("<br/>");
                        element.find('.fc-title').append(image);
                        element.find('.fc-title').append("<br/> Ticket 1: " + event.ticket1 + "<br/> Ticket 2: " + event.ticket2);
                    },
                    showNonCurrentDates: false
                })
                $('#calendarAugust').fullCalendar({
                    defaultDate: '2019-08-01',
                    events: data,
                    eventClick: function (event, element) {
                        console.log(event.id + ' clicked.');
                        bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                            "<input type='hidden' name='id' value='" + event.id + "'>" +
                            "<div class='form-group'><label>Ticket 1</label>" +
                            "<input type='text' name='ticket1' class='form-control' value='" + event.ticket1 + "' /></div>" +
                            "<div class='form-group'><label>Ticket 2</label><input type='text' name='ticket2' class='form-control' value='" + event.ticket2 + "' /></div></form>"
                            , function (result) {
                                if (result) {
                                    $.ajax({
                                        url: '/Home/SubmitChange',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: $("#myform").serialize(),
                                        success: function (data) {
                                            $('#calendarAugust').fullCalendar('removeEvents', event.id);
                                            $('#calendarAugust').fullCalendar('renderEvent', data);
                                        }
                                    });
                                }
                            });
                    },
                    eventRender: function (event, element) {
                        var image = $('<img/>').attr("src", event.img).attr("width", 55);
                        element.find('.fc-title').append("<br/>");
                        element.find('.fc-title').append(image);
                        element.find('.fc-title').append("<br/> Ticket 1: " + event.ticket1 + "<br/> Ticket 2: " + event.ticket2);
                    },
                    showNonCurrentDates: false
                })
                $('#calendarSeptember').fullCalendar({
                    defaultDate: '2019-09-01',
                    events: data,
                    eventClick: function (event, element) {
                        console.log(event.id + ' clicked.');
                        bootbox.confirm("<form id='myform' action='/Home/SubmitChange' method='post'>" +
                            "<input type='hidden' name='id' value='" + event.id + "'>" +
                            "<div class='form-group'><label>Ticket 1</label>" +
                            "<input type='text' name='ticket1' class='form-control' value='" + event.ticket1 + "' /></div>" +
                            "<div class='form-group'><label>Ticket 2</label><input type='text' name='ticket2' class='form-control' value='" + event.ticket2 + "' /></div></form>"
                            , function (result) {
                                if (result) {
                                    $.ajax({
                                        url: '/Home/SubmitChange',
                                        type: 'POST',
                                        dataType: 'json',
                                        data: $("#myform").serialize(),
                                        success: function (data) {
                                            $('#calendarSeptember').fullCalendar('removeEvents', event.id);
                                            $('#calendarSeptember').fullCalendar('renderEvent', data);
                                        }
                                    });
                                }
                            });
                    },
                    eventRender: function (event, element) {
                        var image = $('<img/>').attr("src", event.img).attr("width", 55);
                        element.find('.fc-title').append("<br/>");
                        element.find('.fc-title').append(image);
                        element.find('.fc-title').append("<br/> Ticket 1: " + event.ticket1 + "<br/> Ticket 2: " + event.ticket2);
                    },
                    showNonCurrentDates: false
                })
            });
        }

        loadEvents();

    });




</script>